<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

<style type="text/css">
table {
	border: 1px solid #ccc;
	
	/* 외부 정렬 (가운데) */
	margin: 0 auto;
}

th {
	border: 1px solid #f99;
}

td {
	border: 1px solid #9f9;
}

th, td {
	padding: 2px;
	
	/* 외부여백은 적용되지 않는다 */
	margin: 100px;

}

tr {
	/* height만 적용됨 */
	padding: 10px;
	margin: 5px;
	width: 100px;
	
	/* height는 적용되지만 table-cell을 이용하여 적용하는 경우가 더 많다 */
	/* height: 50px; */
}

</style>

</head>
<body>

<table>
<tr>
	<th>하나</th>
	<th>둘</th>
	<th>셋</th>
</tr>

<tr>
	<td>A</td>
	<td>B</td>
	<td>C</td>
</tr>

<tr>
	<td>Apple</td>
	<td>Banana</td>
	<td>Cherry</td>
</tr>

</table>

</body>
</html>