<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
span {
	font-size: 30px;
}

#span1 {
	background: red;
	float: left;
}
#span2 {
	background: green;
	float: right;
}
#span3 {	background: blue;}



div {
	border: 1px solid #ccc;
	
	/* 컨텐츠 정렬(블록요소의 내부 정렬) */
	text-align: center;
	
	/* --------------------------------------------- */
	
	/* 블록요소의 너비 */
	width: 900px;
	
	/* 블록요소의 외부 정렬 */
	/* 외부여백: 상하없음, 좌우자동(반반씩) */
	/* 	-> 좌우 자동마진을 반씩 주어 내용물(컨텐츠)이 가운데로 오게 만든다  */
	margin: 0 auto;
}


</style>

</head>
<body>

<div>
	<span id="span1">SPAN1</span>
	<span id="span2">SPAN2</span>
	<span id="span3">SPAN3SPAN3SPAN3 SPAN3SPAN3SPAN3</span>
</div>

</body>
</html>







