<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
.box {
	width: 150px;
	height: 50px;
	color: #999;
	border: 1px solid red;
}

.absolute {
	position: absolute;
}

#a1 {
	top: 100px;
	left: 50px;
}

#a2 {
	bottom: 100px;
	right: 100px;
}

.relative {
	position: relative;
}

#r1 {
	top: 100px;
	left: 200px;
}

</style> 

</head>
<body>

<div id="a1" class="box absolute"> 절대위치 박스 1</div>
<div id="a2" class="box absolute"> 절대위치 박스 2</div>

<div id="a3" class="box absolute">
	<div id="a4" class="box absolute">절대위치 박스 4</div>
</div>

안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>
안녕하세요<br>

<div id="r1" class="box relative">상대위치 박스</div>

<div class="relative">
	<div class="box absolute">
		상대위치(relative) 부모 태그 안에 생성된 절대위치(absolute) 박스
	</div>
</div>

</body>
</html>