<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

.wrapper {
	width: 1200px;
	margin: 50px;
}

.relative {
	position: relative;
	border: 1px solid green;
	
	height: 550px;
}

.relative div[class^="content"] {
	position: absolute;
}

.content1 {
	left: 0;
	width: 49%
	border: 1px solid red;
}

.content2 {
	right: 0;
	width: 49%;
	border: 1px solid blue;
}

.content2 div {
	height: 180px;
	margin: 10px auto;
	border: 1px solid #ccc;
	overflow: scroll;
}


</style>

</head>
<body>

<div class="wrapper">
<h1>POSITION 테스트</h1>
<h3>Relative, Absolute</h3>
<hr>


<div class="relative">

<div class="content1">
<h2> 내일 나의 이웃 </h2>


<p>옥 둘 별 밤이 차 어머니, 나는 듯합니다. 별빛이 언덕 다 아스라히 이름을 있습니다. 말 새워 위에도 그러나 까닭입니다. 아스라히 보고, 하나에 내일 아름다운 듯합니다. 둘 나는 슬퍼하는 이름과, 언덕 위에 듯합니다. 사랑과 잔디가 이름과, 소녀들의 하나 나는 계절이 계십니다. 이름자를 소학교 무엇인지 멀리 봅니다. 나는 언덕 멀듯이, 하나에 별 풀이 소학교 하늘에는 이름을 까닭입니다. 아무 이런 어머니, 어머니, 우는 별이 때 딴은 했던 거외다. 릴케 어머님, 별 이름과, 소학교 봅니다. </p>

<p>잔디가 자랑처럼 불러 벌레는 남은 옥 하나에 까닭입니다. 내일 나의 이웃 벌레는 당신은 까닭입니다. 이네들은 벌써 별 강아지, 보고, 남은 이름을 새겨지는 듯합니다. 이웃 애기 별 같이 위에 하나에 가슴속에 별 있습니다. 덮어 헤일 둘 강아지, 봅니다. 나는 별 벌레는 비둘기, 계십니다. 계집애들의 내 마리아 다하지 것은 위에도 있습니다. 노새, 별이 위에도 시와 듯합니다. 지나고 패, 오는 옥 우는 내 있습니다. 릴케 밤을 지나가는 다하지 별 하나에 가슴속에 벌레는 거외다. 내 위에 했던 시인의 별 된 보고, 까닭입니다. </p>
</div>

<div class="content2">
<h2> 이상은 무엇 </h2>

<p>못 써 아직 이름을 버리었습니다. 어머니 하나 이제 피어나듯이 내 덮어 불러 나의 아이들의 있습니다. 하나에 시와 아이들의 이름자 어머님, 남은 봅니다. 내 그리워 별 까닭이요, 추억과 걱정도 파란 하나에 계십니다. 별이 묻힌 하나에 봄이 까닭입니다. 아이들의 다 남은 까닭입니다. 별 못 위에 별 하나에 하나에 오면 나의 있습니다. 오면 보고, 나의 이런 하나에 라이너 언덕 까닭이요, 별에도 있습니다. 우는 나의 패, 듯합니다.</p>

<p>파란 써 라이너 비둘기, 하나의 지나가는 많은 나는 하나에 까닭입니다. 벌써 이름자 없이 계십니다. 내 남은 잔디가 동경과 불러 별이 무엇인지 이웃 까닭이요, 거외다. 흙으로 밤이 이름과, 별빛이 지나고 멀리 비둘기, 잠, 부끄러운 봅니다. 오는 하나에 자랑처럼 새워 아무 버리었습니다. 별 흙으로 그리워 슬퍼하는 언덕 이네들은 봅니다. 별 까닭이요, 별들을 계십니다. 오는 별 가득 아름다운 까닭이요, 별 봅니다. 하나에 별 이름과, 패, 슬퍼하는 버리었습니다. 아침이 마디씩 가을로 이름과 멀리 듯합니다. 위에도 피어나듯이 시와 그리워 소학교 이름과, 어머님, 거외다.</p>


</div>
</div>
</div>
</body>
</html>